/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
  font-family: "Press Start 2P";
  src: url(./PressStart2P-Regular.woff) format("woff");
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: "Inter-Variable";
  src: url(./Inter-Variable.woff2) format("woff2 supports variations"),
    url(./Inter-Variable.woff2) format("woff2-variations");
  font-display: swap;
  font-weight: 400 785;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--inter-variable);
  }

  .header__title {
    font-weight: normal;
    font-size: var(--header__title-font-size);
  }

  .header__subtitle {
    font-weight: normal;
    font-size: var(--header__subtitle-font-size);
  }

  .card__title {
    font-weight: var(--card__title-font-weight);
    font-size: 1.125rem;
  }

  .card__content {
    font-weight: var(--card__content-font-weight);
    font-size: 1.125rem;
  }
}
